body {
	font-family: Roboto;
}

@media (min-width: 768px) {
	p {
		text-align: justify;
	}
}

h1 {
	font-weight: 900;
	color: #222;
	background: transparent url(../img/logo.svg) no-repeat;
}

@media (max-width: 767px) {
	h1 {
		background-size: 35px;
		padding-left: 45px;
		line-height: 35px;
		font-size: 1.7rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	h1 .version {
		display: none;
	}
}

@media (min-width: 768px) {
	h1 {
		background-size: 50px;
		padding-left: 60px;
		line-height: 50px;
		font-size: 2.5rem;
		margin-top: 2.5rem;
		margin-bottom: 1rem;
	}
	h1 .version {
		font-weight: 400;
		font-size: 2rem;
	}
}

#jumbo .dark {
	background-color: #222; color: #ddd; font-size: 1.25rem;
}
#jumbo .light {
	background-color: #ddd; color: #222; font-size: 1.25rem;
}

#footer {
	border-width: 1px 0 0 0; 
	border-style: solid; 
	border-color: #ccc;
}

