$black: #000000;
$dark: #596e79;
$primary: #c7b198;
$light: #dfd3c3;
$white: #f0ece2;
$info: #add8d8;

// Restore default strong blue link color (and not primary color)
$link-color: #0d6efd;

$navbar-dark-color: $white;
$navbar-dark-hover-color: #ffffff;
