@import 'variables';
@import "~bootstrap-scss";

body {
    font-family: Verdana, sans-serif;
}

h1, h2, h3, h4, h5 {
    color: $dark;
}

a {
    text-decoration: underline;
}

.btn {
    border-radius: 0;
    text-decoration: none;
}

.card {
    border: 0;
    border-radius: 0;
}

.card p {
    text-align: left;
}

@media (min-width: 768px) {
    p, li {
        text-align: justify;
    }
}

nav a {
    text-decoration: none;
}

.navbar-dark .active .nav-link {
    text-decoration: underline;
}

.navbar-dark .navbar-brand {
    color: $light;
}

.jumbo-logo {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#jumbo .light {
    background-color: $light;
    color: $dark;
    font-size: 1.25rem;
}

#footer {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: $dark;
}

.lang {
    padding: 3px 5px 3px 5px;
    margin-right: 5px;
    background-color: $dark;
    display: inline-block;
}

.lang a {
    color: $white;
    text-decoration: none;
}
