@import 'variables';
@import "~bootstrap-scss";

body {
    font-family: Verdana, sans-serif;
}

h1, h2, h3, h4, h5 {
    color: $dark;
}

a {
    text-decoration: underline;
}

a:hover, a:focus {
    text-decoration: none;
}

a:focus {
    outline: 2px solid;
    outline-offset: 2px;
}

.btn {
    border-radius: 0;
    text-decoration: none;
}

.card {
    border: 0;
    border-radius: 0;
}

.card p {
    text-align: left;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover, .nav-link:focus {
    text-decoration: underline;
}

.navbar-dark .active .nav-link {
    font-weight: bold;
}

.navbar-dark .navbar-brand {
    color: $light;
}

.navbar-brand {
    background: url('/img/logo.svg') left center no-repeat;
    background-size: 2rem;
    padding-left: 2.5rem;
    text-decoration: none;
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: underline;
}

#jumbo {
    background-color: $light;
    color: $dark;
    font-size: 1.25rem;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

@media (min-width: 992px) {
    #jumbo {
        background: $light url('/img/logo.svg') right 2rem top 2rem no-repeat;
        background-size: 8rem;
        padding-right: 13rem;
    }
}

footer {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: $dark;
}

.lang {
    padding: 3px 5px 3px 5px;
    margin-right: 5px;
    background-color: $dark;
    display: inline-block;
}

.lang a {
    color: $white;
    text-decoration: none;
}

// Forms

.form-control:focus {
    background-color: #ffffff;
}
